$black:    #000000;
$gray-700: #1d1f21;
$gray-600: #282a2e;
$gray-500: #373b41;
$gray-400: #969896;
$gray-300: #b4b7b4;
$gray-200: #c5c8c6;
$gray-100: #e0e0e0;
$white:    #ffffff;
$red:      #cc6666;
$orange:   #de935f;
$yellow:   #f0c674;
$green:    #b5bd68;
$cyan:     #8abeb7;
$blue:     #81a2be;
$magenta:  #b294bb;
$brown:    #a3685a;

$light-size: 50px;
$light-margin: 5px;
